<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="Scripts/AngularJSScript.js"></script>
    <link rel="stylesheet" type="text/css" href="Content/Style.css"/>
</head>

<body ng-controller="myController">

    <h3>Create User</h3>
    <div class=container>
        <table border="1" width="100%">
            <tr>
                <td><label>First Name:</label></td>
                <td><input type="text" name="txtfname" ng-model="firstName"  /></td>
            </tr>
            <tr>
                <td><label>Last Name:</label></td>
                <td><input type="text" name="txtlname" ng-model="lastName" /></td>
            </tr>
            <tr>
                <td><label>Age:</label></td>
                <td><input type="text" name="txtage" ng-model="age" /></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input type="email" name="txtemail" ng-model="emailId" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" value="Submit" ng-click="add()"/>
                </td>
            </tr>
        </table>
    </div>
    
    <div>
        <h4>HTTP Response Details</h4>
        <p>Output Message : {{message}}</p>
        <p>StatusCode: {{statuscode}}</p>
        <p>Status: {{status}}</p>
        <p>Response Headers: {{headers}}</p>
    </div>

    <h3>Users List</h3>
    <div class="container">
        <table id="tblResult" width="100%">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Age</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td> {{ user.fname }} </td>
                    <td> {{ user.lname }} </td>
                    <td> {{ user.age }} </td>
                    <td> {{ user.emailID }} </td>
                </tr>
                <tr><td>Abc</td><td>Bcd</td><td>23</td><td>asdsasda</td></tr>
                <tr><td>Abc</td><td>Bcd</td><td>23</td><td>asdsasda</td></tr>
                <tr><td>Abc</td><td>Bcd</td><td>23</td><td>asdsasda</td></tr>
            </tbody>
        </table>
    </div>

</body>
</html>
